



<!DOCTYPE html>
<html lang = "en">
<title>ToyRoom - Home</title>
<meta charset = "UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1">

<body style = "margin:0;">

<div style="background-color:linen">
    <div style="height:50px; background-color:Black">
            <a href = "{% url 'home' %}" style = "font-family:Times; font-size:25px; color:Snow; margin-left:10px;"> Home </a>
            <a href = "{% url 'About' %}" style = "font-family:Times; font-size:25px; color:Snow; margin-left:50px;"> About </a>
            <a href = "{% url 'begin' %}" style = "font-family:Times; font-size:25px; color:Snow; margin-left:50px;"> Begin </a>
            <a href = "{% url 'arm' %}" style = "font-family:Times; font-size:25px; color:Snow; margin-left:50px;"> Arm </a>
            <a href = "{% url 'clust' %}" style = "font-family:Times; font-size:25px; color:Snow; margin-left:50px;"> Clusters </a>
            <a href = "{% url 'Partners' %}" style = "font-family:Times; font-size:25px; color:Snow; margin-left:50px;"> Partners </a>
    </div>

    <div style = "margin-left:150px; margin-right:150px; margin-top:100px">
        <h1 style = "font-family:fantasy; font-size:80px; color:yellowgreen", align = "center">ToyRoom</h1>
    </div>

    <div style = "margin-left:150px; margin-right:150px; margin-top:50px">
        <h2 style = "font-family:Times; font-size:30px; color:Black"> Objective </h2>
        <div  align = "justify">
            <p style = "margin-left:150px; font-family:Times; font-size:20px; color:Black">
                    To build a recommendation system for kid’s toy and book products for Amazon using association rule mining and clustering techniques. 
                    -Recommend product based on association rule mining (The following items are bought together) and clustering (if you bought this...you might want this, similar products..)
                    -Recommend products using clustering over below parameters
                    Price of the product, Rating of Product, Type of product, Brand of product.
            </p>
        </div>
    </div>

    <div style = "margin-left:150px; margin-right:150px; margin-top:50px">
            <h2 style = "font-family:Times; font-size:30px; color:Black"> Significance </h2>
            <div  align = "justify">
                <p style = "margin-left:150px; font-family:Times; font-size:20px; color:Black" align = "justify">
                        Recommender systems are designed with ideas from data mining, machine learning, and user profiling research in order to provide end-users 
                        with more proactive and personalized information retrieval applications. Two popular approaches have come to dominate. First, content-based 
                        techniques leverage the availability of rich item descriptions to identify new items that are similar to those that a user has liked in the 
                        past. In contrast, collaborative recommendation tries to find some users who share similar tastes with the given user and recommends 
                        articles they like to that user. Recommendation systems are the most important part of an eCommerce business as it decides the growth of 
                        business. Examples of such applications include recommending books, CDs, and other products at Amazon.com, movies by MovieLens, Myntra, 
                        Flipkart and news at VERSIFI Technologies (formerly AdaptiveInfo.com). Moreover, some of the vendors have incorporated recommendation 
                        capabilities into their commerce servers. 
                        Today, customers are preferring a more faster way of purchase, 
                        from the essential goods to luxury items every user tries to buy from the digital platform. 
                        Hence the demand for effective recommendation systems is increasing every day.                    
                </p>
            </div>
        </div>

        

    <div style = "height:100px; margin-top:200px; background-color:Black">
        <footer>
                <p> <br></p>
                <p style = "margin-left:150px; margin-right:150px; font-size:20px; color:Snow" align = "center"> Powered by Skyliners... </p>
        </footer>
    </div>
</div>

</body>
</html>

